<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">        
        <li class="nav-item">
          <a class="nav-link" routerLink="/panier">
            Panier
            <!-- <span class="badge rounded-pill bg-warning text-dark"> 
              {{ nombreArticlesPanier }}
            </span> -->
            <span class="badge rounded-pill bg-warning text-dark" *ngIf="chariot$ | async as chariot"> 
              {{ chariot.nbrTotalArticles }}
            </span>
          </a>
        </li> 
        <ng-template #anonymousUser>
          <li lass="nav-item">
            <a class="nav-link" routerLink="/connexion">Connexion</a>
          </li> 
        </ng-template>               
        <li ngbDropdown  *ngIf="appUsager; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
            {{ appUsager.name }}</a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" routerLink="/mes/commandes">Mes Commandes</a></li>
            <ng-container *ngIf="appUsager.estAdmin" >
              <li><a class="dropdown-item" routerLink="/admin/commandes">gérer les commandes</a></li>
              <li><a class="dropdown-item" routerLink="/admin/produits">gérer les produits</a></li>
            </ng-container>            
            <li><a class="dropdown-item" (click)=sedeconnecter()>Se déconnecter</a></li>
          </ul>
        </li>
      </ul>      
    </div>
  </div>
</nav>
