
<h1>Panier</h1>
<ng-container *ngIf="chariot$ | async as chariot">
    <p>
        Vous avez {{ chariot.nbrTotalArticles }} articles dans votre panier.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantité</th>
                <th>prix</th>
            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let article of chariot.articles">
                <td>                   
                    {{ article.produit.titre }}
                </td>
                <td>                    
                    <quantite-produit [produit]="article.produit" [panier]="chariot"></quantite-produit>
                </td>
                <td>                    
                    {{ article.prixTotal | currency: 'USD' }}
                </td>
            </tr>
        </tbody>
        <tfoot>
           <tr>
               <th></th>
               <th></th>
               <th>{{ chariot.prixTotal | currency: 'CAD' }}</th>
           </tr>
        </tfoot>
    </table>
</ng-container>



