<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="sauvegarder(f.value)">
            <div class="form-group">
                <label for="titre">Nom de produit</label>
                <input #titre="ngModel" [(ngModel)]="produit.titre" name="titre" id="titre" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="titre.touched && titre.invalid">
                    Nom de produit est requis.
                </div>
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input #prix="ngModel" [(ngModel)]="produit.prix" name="prix" id="prix" type="number" class="form-control" required [min]="0" >
                    <span class="input-group-text">.00</span>           
                </div>  
                <div class="alert alert-danger" *ngIf="prix.touched && prix.invalid">
                    <div *ngIf="prix.errors.required">Prix est requis.</div>
                    <div *ngIf="prix.errors.min">Prix doit être égal ou supérieur à 0.</div>            
                </div>      
            </div>
            <div class="form-group">
                <label for="categorie">Catégorie</label>
                <select #categorie="ngModel" [(ngModel)]="produit.categorie" name="categorie" id="categorie" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">
                        {{ c.payload.val().nom }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="categorie.touched && categorie.invalid">
                    Catégorie est requis.
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Url d'image</label>
                <input #imageUrl= "ngModel" [(ngModel)]="produit.imageUrl" name= "imageUrl" id="imageUrl" type="text" class="form-control" required url>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors.required"> URL de l'image est requis.</div>
                    <div *ngIf="imageUrl.errors.url"> Veuillez entrer une URL valide.</div>
                </div>
            </div> <br>
            <button class="btn btn-primary">Sauvegarder</button>
            <button type="button" (click)="supprimer()" class="btn btn-danger" style="margin-left: 1.5cm;">Supprimer</button>
        </form>        
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="produit.imageUrl" class="card-img-top" *ngIf="produit.imageUrl">
            <div class="card-body">
              <h5 class="card-title">{{ produit.titre }}</h5>
              <p class="card-text">{{ produit.prix | currency: 'CAD' }}</p>              
            </div>
          </div>
    </div>
</div>

