
<div class="row">
    <div class="col-3">
        <!-- render pour @Input categorie -->
        <produit-filtre [categorie]="categorie"></produit-filtre>
    </div>
    <div class="col-9">         <!-- c<est egale a  <div class="col-9"> -->
        <div class="row">
            <ng-container *ngFor="let p of produitsFiltres; let i = index">
                <div class="col">
                    <!-- render pour @Input produit -->
                    <catalogue-produits [produit]="p" [panier]="chariot"></catalogue-produits>                
                </div> 
                <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
            </ng-container>    
        </div>
    </div>
</div>



