<div *ngIf="produit.titre" class="card" >
    <img *ngIf="produit.imageUrl" [src]="produit.imageUrl" class="card-img-top" alt="{{ produit.titre }}">
    <div class="card-body">
      <h5 class="card-title">{{ produit.titre }}</h5>
      <p class="card-text">{{ produit.prix | currency: 'CAD' }}</p>
      
   </div>
   <div *ngIf="showActions" class="card-footer d-grid gap-2" >
      <button 
      (click)="ajouterAuPanier(produit)"
       class="btn btn-outline-warning">Ajouter au panier</button>
   </div>
   <div>{{ recupererQuantite() }}</div>
</div>
