<div *ngIf="produit.titre" class="card" >
    <img *ngIf="produit.imageUrl" [src]="produit.imageUrl" class="card-img-top" alt="{{ produit.titre }}">
    <div class="card-body">
      <h5 class="card-title">{{ produit.titre }}</h5>
      <p class="card-text">{{ produit.prix | currency: 'CAD' }}</p>
      
   </div>
   <div *ngIf="showActions" class="card-footer d-grid gap-2" >
      <button 
      *ngIf="recupererQuantite() === 0; else mettreAjourQuantity"
      (click)="ajouterAuPanier()"
      class="btn btn-outline-warning">Ajouter au panier</button>
     <ng-template #mettreAjourQuantity>
      <div class="row no-gutters">
         <div class="col-2">
            <button 
            (click)="retirerDuPanier()"
            class="btn btn-warning">-</button>
         </div>
         <div class="col text-center" style="color: orange;">
            {{ recupererQuantite() }} dans le panier
         </div>
         <div class="col-2">
            <button 
            (click)="ajouterAuPanier()"
            class="btn btn-warning">+</button>
         </div>
      </div>
     </ng-template>       
   </div>   
</div>
